@model SpaceSchedule.Models.ViewModels.DetailsSpaceAgency
@{
    ViewBag.Title = "Details";
}

<h2>Details of Space agency @Model.SelectedSpaceAgency.SpaceAgencyName</h2>
<p>Space Agency info : @Model.SelectedSpaceAgency.SpaceAgencyInfo</p>

<h2>All Rockets from @Model.SelectedSpaceAgency.SpaceAgencyName</h2>
@foreach (var rocket in Model.RocketsBySpaceAgency) {
<p>Rocket : <a href="/Rockets/Details/@rocket.RocketID">@rocket.RocketName</a></p>
}

<a href="/SpaceAgencies/EditPage/@Model.SelectedSpaceAgency.SpaceAgencyID">Edit details</a>
<a href="/SpaceAgencies/DeletePage/@Model.SelectedSpaceAgency.SpaceAgencyID" style="all:unset; display:block; color:red; cursor:pointer;">Delete</a>
