@model IEnumerable<SpaceSchedule.Models.RocketDto>
@{
    ViewBag.Title = "List";
}

<h2>List of all Rockets</h2>

@foreach(var rocket in Model)
            {
                <h3><a href="/Rockets/Details/@rocket.RocketID">@rocket.RocketName</a></h3>
                
            }

<a href="/Rockets/AddRocket">Add a New Rocket</a>
